In [44]:
from pymongo import MongoClient
import pandas as pd
import requests
from bs4 import BeautifulSoup
from pprint import pprint

In [45]:
client = MongoClient()
db = client['meetup']

In [46]:
API_KEY = 'xxx'
BASE_URL = 'https://api.meetup.com'

In [47]:
# get a listing of all meetup events hosted by DE-ProD-SF

def get_events(urlname):
    
    events_url = BASE_URL + '/' + urlname + '/events'
    params = {'sign':'true','key': API_KEY, 'status': 'past'}
    response = requests.get(events_url, params = params)
    events = response.json()
    
    return events

urlname = 'DE-ProD-SF'
get_events(urlname)

[{u'created': 1455863910000,
  u'description': u"<p>Exercise your critical thinking with a data eng challenge problem! Hear how others would solve the problem, what trade-offs they consider, and voice your opinion / ask questions in a non-threatening atmosphere. Like a journal club, but minus reading boring papers, and plus an exciting problem :-)</p> <p>I'll send out the challenge problem by email to the RSVP'd group 2 days before the event.</p> <p>By the way, employers rank whiteboarding &amp; critical thinking skills as one of their top priorities in hiring data engineers. Practice makes perfect!</p> <p>See you soon,<br/>Aaron</p> ",
  u'group': {u'created': 1441761756000,
   u'id': 18913207,
   u'join_mode': u'open',
   u'lat': 37.779998779296875,
   u'lon': -122.41999816894531,
   u'name': u'Data Engineering Professional Development San Francisco',
   u'urlname': u'DE-ProD-SF',
   u'who': u'Professional Developers'},
  u'id': u'228968660',
  u'link': u'http://www.meetup.com/DE-ProD-SF/events/228968660/',
  u'name': u'Data Eng. Whiteboarding Session 1',
  u'status': u'past',
  u'time': 1456455600000,
  u'updated': 1456516735000,
  u'utc_offset': -28800000,
  u'venue': {u'address_1': u'4 4 Tehama Street ',
   u'city': u'San Francisco',
   u'country': u'us',
   u'id': 23815839,
   u'lat': 37.77711868286133,
   u'localized_country_name': u'USA',
   u'lon': -122.41963958740234,
   u'name': u'Galvanize',
   u'repinned': False,
   u'state': u'CA',
   u'zip': u''},
  u'visibility': u'public',
  u'waitlist_count': 0,
  u'yes_rsvp_count': 10},
 {u'created': 1454720805000,
  u'description': u'<p><b>*Note</b>,\xa0expedite your check in at Galvanize;\xa0<a href="https://www.eventbrite.com/e/sf-data-science-meetup-data-engineering-skills-and-hiring-tickets-21572104746">register here</a>\xa0</p> <p><br/>What skills are the most important to getting hired as a data engineer? How should you allocate your professional development time?</p> <p><br/>Advice from hiring managers can help!</p> <p>Act 1 - Aaron Merlob will present some original qualitative and quantitative research on the subject.</p> <p><br/>Act 2 - A short panel discussion with DE Hiring Managers + significant time for audience Q&amp;A. Panel questions will cover the various types of DE teams, generalists vs. specialists, and DE career paths. (Feel free to send questions now)</p> <p>Panelists will be:</p> <p><b>Laura Pruitt</b>, Content Delivery Analytics Manager @ Netflix (Streaming Movies)</p> <p><br/><b>Jeff Magnusson</b>, Director of Algorithms Platform @ Stitch Fix (Online Personal Stylists for Women)</p> <p><br/><b>Wes Bailey</b>, VP Engineering and Data Science @ Sproutling (The Smarter Baby Monitor)</p> ',
  u'duration': 9000000,
  u'group': {u'created': 1441761756000,
   u'id': 18913207,
   u'join_mode': u'open',
   u'lat': 37.779998779296875,
   u'lon': -122.41999816894531,
   u'name': u'Data Engineering Professional Development San Francisco',
   u'urlname': u'DE-ProD-SF',
   u'who': u'Professional Developers'},
  u'id': u'228648803',
  u'link': u'http://www.meetup.com/DE-ProD-SF/events/228648803/',
  u'name': u'Data Engineering Skills and Hiring',
  u'status': u'past',
  u'time': 1459301400000,
  u'updated': 1459315746000,
  u'utc_offset': -25200000,
  u'venue': {u'address_1': u'4 4 Tehama Street ',
   u'city': u'San Francisco',
   u'country': u'us',
   u'id': 23815839,
   u'lat': 37.77711868286133,
   u'localized_country_name': u'USA',
   u'lon': -122.41963958740234,
   u'name': u'Galvanize',
   u'repinned': False,
   u'state': u'CA',
   u'zip': u''},
  u'visibility': u'public',
  u'waitlist_count': 0,
  u'yes_rsvp_count': 25}]

In [48]:
#query all event ids and descriptions

def query_events():
    
    event_id = []
    event_desc_raw= []
    event_time = []
    for event in get_events(urlname):
        event_id.append(event['id'])
        event_desc_raw.append(event['description'])
        event_time.append(event['time'])
 
    return event_id, event_desc_raw, event_time

# events_ids = [''.join(event['id']) for event in events]
# print events_ids

# events_descriptions = [event['description'] for event in events]
# print events_descriptions

event_id, event_desc_raw, event_time = query_events()

event_description = []
for i in xrange(len(event_id)):
    soup = BeautifulSoup(event_desc_raw[i], 'html.parser')
    event_description.append(soup.get_text())

In [50]:
df_events= pd.DataFrame([event_id, event_description, event_time]).T
df_events.columns = ['event_id', 'event_description', 'event_time']
df_events

    event_id                                  event_description     event_time
0  228968660  Exercise your critical thinking with a data en...  1456455600000
1  228648803  *Note, expedite your check in at Galvanize; re...  1459301400000

In [51]:
#get all rsvps for each event

member_id = []
event_id = []

for i in query_events()[0]:
    rsvps_url = BASE_URL + '/' + urlname +'/events/' + i + '/rsvps'
    params = {'sign':'true','key': API_KEY}
    response = requests.get(rsvps_url, params = params)
    rsvps = response.json()
    
    for rsvp in rsvps:
        member_id.append(rsvp['member']['id'])
        event_id.append(rsvp['event']['id'])
               
df_rsvps = pd.DataFrame([member_id, event_id]).T
df_rsvps.columns = ['member_id', 'event_id']
df_rsvps['rsvp'] = 1
df_rsvps

    member_id   event_id  rsvp
0    87429312  228968660     1
1   149624662  228968660     1
2   129647262  228968660     1
3   132426572  228968660     1
4    67449572  228968660     1
5   111657512  228968660     1
6   198433955  228968660     1
7    11847383  228968660     1
8    10048695  228968660     1
9    14704591  228968660     1
10    8155925  228968660     1
11   87429312  228648803     1
12  148987252  228648803     1
13  149624662  228648803     1
14   10134330  228648803     1
15    5251626  228648803     1
16  185934627  228648803     1
17  132426572  228648803     1
18   67449572  228648803     1
19  201267222  228648803     1
20   57468772  228648803     1
21  120284782  228648803     1
22   51737362  228648803     1
23   65386392  228648803     1
24  101970742  228648803     1
25  198906506  228648803     1
26  200610549  228648803     1
27  193633824  228648803     1
28  198433955  228648803     1
29    1209999  228648803     1
30  193376612  228648803     1
31  190877147  228648803     1
32    2963626  228648803     1
33   99543232  228648803     1
34   41888302  228648803     1
35   10048695  228648803     1
36  117627052  228648803     1
37    8155925  228648803     1

In [52]:
# get all members from a group 
members_url = BASE_URL + '/2/members' 
params = {'sign':'true','key': API_KEY, 'group_id': '18913207'}
response = requests.get(members_url, params = params)
members_all = response.json()
# pprint (members_all)

In [53]:
members = members_all['results']
member_id = [member['id'] for member in members]
join_time = [member['joined'] for member in members]

df_members = pd.DataFrame([member_id,join_time]).T
df_members.columns = ['member_id', 'join_time']
df_members

     member_id      join_time
0    194699547  1459391446000
1     87429312  1441761756000
2     81401992  1459377236000
3    185745656  1456036929000
4     11885543  1459228941000
5     55930862  1445727497000
6    195886534  1459373753000
7    192607432  1442034315000
8    183554416  1459380534000
9    183993413  1450205662000
10   187965746  1444949198000
11   148987252  1459289115000
12   134357542  1460945741000
13   184691358  1459398618000
14   116324022  1456469624000
15   149624662  1442028592000
16    93671472  1460524302000
17    18222031  1442025337000
18    85929712  1457234238000
19   112225022  1459759300000
20    10134330  1454956008000
21   203946227  1461523347000
22   203371663  1460688695000
23   202692065  1459731384000
24     5251626  1459292543000
25    64180502  1459373528000
26   203709048  1461171265000
27   185934627  1442217794000
28   192752466  1457568229000
29   133272042  1442160830000
..         ...            ...
119  203406202  1460745295000
120    3881071  1442025097000
121  194113974  1461715074000
122   14704591  1443321035000
123  204022617  1461624353000
124  105796662  1441930508000
125   54092012  1442168986000
126   80950832  1456712729000
127  199887599  1460276371000
128   97988222  1443110626000
129    6804434  1459409092000
130   97686732  1442115940000
131  117627052  1442080299000
132   10609056  1459385770000
133   75723792  1459374022000
134     621496  1442024795000
135   30445632  1461036532000
136    8575630  1456290352000
137  184375872  1459374145000
138   83275192  1459438916000
139   13908753  1461347336000
140  106924652  1455395890000
141   89525712  1442279919000
142    3651127  1459465648000
143  187457713  1442026484000
144   89894632  1459374804000
145    8155925  1442040562000
146  203768472  1461258583000
147  195115071  1460329130000
148  150791852  1443715326000

[149 rows x 2 columns]

In [54]:
df_members['key'] = 2
df_events['key'] = 2
df_1 = pd.merge(df_members, df_events, on = 'key')
df_1.drop('key', axis = 1, inplace = True)
df_1

,member_id,join_time,event_id,event_description,event_time
0,194699547,1459391446000,228968660,Exercise your critical thinking with a data en...,1456455600000
1,194699547,1459391446000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
2,87429312,1441761756000,228968660,Exercise your critical thinking with a data en...,1456455600000
3,87429312,1441761756000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
4,81401992,1459377236000,228968660,Exercise your critical thinking with a data en...,1456455600000
5,81401992,1459377236000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
6,185745656,1456036929000,228968660,Exercise your critical thinking with a data en...,1456455600000
7,185745656,1456036929000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
8,11885543,1459228941000,228968660,Exercise your critical thinking with a data en...,1456455600000
9,11885543,1459228941000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
10,55930862,1445727497000,228968660,Exercise your critical thinking with a data en...,1456455600000
11,55930862,1445727497000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
12,195886534,1459373753000,228968660,Exercise your critical thinking with a data en...,1456455600000
13,195886534,1459373753000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
14,192607432,1442034315000,228968660,Exercise your critical thinking with a data en...,1456455600000
15,192607432,1442034315000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
16,183554416,1459380534000,228968660,Exercise your critical thinking with a data en...,1456455600000
17,183554416,1459380534000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
18,183993413,1450205662000,228968660,Exercise your critical thinking with a data en...,1456455600000
19,183993413,1450205662000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
20,187965746,1444949198000,228968660,Exercise your critical thinking with a data en...,1456455600000
21,187965746,1444949198000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
22,148987252,1459289115000,228968660,Exercise your critical thinking with a data en...,1456455600000
23,148987252,1459289115000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
24,134357542,1460945741000,228968660,Exercise your critical thinking with a data en...,1456455600000
25,134357542,1460945741000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
26,184691358,1459398618000,228968660,Exercise your critical thinking with a data en...,1456455600000
27,184691358,1459398618000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
28,116324022,1456469624000,228968660,Exercise your critical thinking with a data en...,1456455600000
29,116324022,1456469624000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
...,...,...,...,...,...
268,621496,1442024795000,228968660,Exercise your critical thinking with a data en...,1456455600000
269,621496,1442024795000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
270,30445632,1461036532000,228968660,Exercise your critical thinking with a data en...,1456455600000
271,30445632,1461036532000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
272,8575630,1456290352000,228968660,Exercise your critical thinking with a data en...,1456455600000
273,8575630,1456290352000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
274,184375872,1459374145000,228968660,Exercise your critical thinking with a data en...,1456455600000
275,184375872,1459374145000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
276,83275192,1459438916000,228968660,Exercise your critical thinking with a data en...,1456455600000
277,83275192,1459438916000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
278,13908753,1461347336000,228968660,Exercise your critical thinking with a data en...,1456455600000
279,13908753,1461347336000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
280,106924652,1455395890000,228968660,Exercise your critical thinking with a data en...,1456455600000
281,106924652,1455395890000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
282,89525712,1442279919000,228968660,Exercise your critical thinking with a data en...,1456455600000
283,89525712,1442279919000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
284,3651127,1459465648000,228968660,Exercise your critical thinking with a data en...,1456455600000
285,3651127,1459465648000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
286,187457713,1442026484000,228968660,Exercise your critical thinking with a data en...,1456455600000
287,187457713,1442026484000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
288,89894632,1459374804000,228968660,Exercise your critical thinking with a data en...,1456455600000
289,89894632,1459374804000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
290,8155925,1442040562000,228968660,Exercise your critical thinking with a data en...,1456455600000
291,8155925,1442040562000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
292,203768472,1461258583000,228968660,Exercise your critical thinking with a data en...,1456455600000
293,203768472,1461258583000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
294,195115071,1460329130000,228968660,Exercise your critical thinking with a data en...,1456455600000
295,195115071,1460329130000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000
296,150791852,1443715326000,228968660,Exercise your critical thinking with a data en...,1456455600000
297,150791852,1443715326000,228648803,"*Note, expedite your check in at Galvanize; re...",1459301400000

In [56]:
df_2 = df_1[(df_1['join_time'] < df_1['event_time'])]
df_2
df_2.drop(['join_time','event_time'], axis = 1, inplace = True)
df_2

/Users/datascientist/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

     member_id   event_id                                  event_description
2     87429312  228968660  Exercise your critical thinking with a data en...
3     87429312  228648803  *Note, expedite your check in at Galvanize; re...
6    185745656  228968660  Exercise your critical thinking with a data en...
7    185745656  228648803  *Note, expedite your check in at Galvanize; re...
9     11885543  228648803  *Note, expedite your check in at Galvanize; re...
10    55930862  228968660  Exercise your critical thinking with a data en...
11    55930862  228648803  *Note, expedite your check in at Galvanize; re...
14   192607432  228968660  Exercise your critical thinking with a data en...
15   192607432  228648803  *Note, expedite your check in at Galvanize; re...
18   183993413  228968660  Exercise your critical thinking with a data en...
19   183993413  228648803  *Note, expedite your check in at Galvanize; re...
20   187965746  228968660  Exercise your critical thinking with a data en...
21   187965746  228648803  *Note, expedite your check in at Galvanize; re...
23   148987252  228648803  *Note, expedite your check in at Galvanize; re...
29   116324022  228648803  *Note, expedite your check in at Galvanize; re...
30   149624662  228968660  Exercise your critical thinking with a data en...
31   149624662  228648803  *Note, expedite your check in at Galvanize; re...
34    18222031  228968660  Exercise your critical thinking with a data en...
35    18222031  228648803  *Note, expedite your check in at Galvanize; re...
37    85929712  228648803  *Note, expedite your check in at Galvanize; re...
40    10134330  228968660  Exercise your critical thinking with a data en...
41    10134330  228648803  *Note, expedite your check in at Galvanize; re...
49     5251626  228648803  *Note, expedite your check in at Galvanize; re...
54   185934627  228968660  Exercise your critical thinking with a data en...
55   185934627  228648803  *Note, expedite your check in at Galvanize; re...
57   192752466  228648803  *Note, expedite your check in at Galvanize; re...
58   133272042  228968660  Exercise your critical thinking with a data en...
59   133272042  228648803  *Note, expedite your check in at Galvanize; re...
60   193802502  228968660  Exercise your critical thinking with a data en...
61   193802502  228648803  *Note, expedite your check in at Galvanize; re...
..         ...        ...                                                ...
237   10048695  228648803  *Note, expedite your check in at Galvanize; re...
240    3881071  228968660  Exercise your critical thinking with a data en...
241    3881071  228648803  *Note, expedite your check in at Galvanize; re...
244   14704591  228968660  Exercise your critical thinking with a data en...
245   14704591  228648803  *Note, expedite your check in at Galvanize; re...
248  105796662  228968660  Exercise your critical thinking with a data en...
249  105796662  228648803  *Note, expedite your check in at Galvanize; re...
250   54092012  228968660  Exercise your critical thinking with a data en...
251   54092012  228648803  *Note, expedite your check in at Galvanize; re...
253   80950832  228648803  *Note, expedite your check in at Galvanize; re...
256   97988222  228968660  Exercise your critical thinking with a data en...
257   97988222  228648803  *Note, expedite your check in at Galvanize; re...
260   97686732  228968660  Exercise your critical thinking with a data en...
261   97686732  228648803  *Note, expedite your check in at Galvanize; re...
262  117627052  228968660  Exercise your critical thinking with a data en...
263  117627052  228648803  *Note, expedite your check in at Galvanize; re...
268     621496  228968660  Exercise your critical thinking with a data en...
269     621496  228648803  *Note, expedite your check in at Galvanize; re...
272    8575630  228968660  Exercise your critical thinking with a data en...
273    8575630  228648803  *Note, expedite your check in at Galvanize; re...
280  106924652  228968660  Exercise your critical thinking with a data en...
281  106924652  228648803  *Note, expedite your check in at Galvanize; re...
282   89525712  228968660  Exercise your critical thinking with a data en...
283   89525712  228648803  *Note, expedite your check in at Galvanize; re...
286  187457713  228968660  Exercise your critical thinking with a data en...
287  187457713  228648803  *Note, expedite your check in at Galvanize; re...
290    8155925  228968660  Exercise your critical thinking with a data en...
291    8155925  228648803  *Note, expedite your check in at Galvanize; re...
296  150791852  228968660  Exercise your critical thinking with a data en...
297  150791852  228648803  *Note, expedite your check in at Galvanize; re...

[167 rows x 3 columns]

In [63]:
df_3 = pd.merge(df_2, df_rsvps, how ='left', on = ['member_id','event_id'])
df_3.fillna(value = 0, inplace = True)
df_3

# df_3.to_json('data.json')

,member_id,event_id,event_description,rsvp
0,87429312,228968660,Exercise your critical thinking with a data en...,1
1,87429312,228648803,"*Note, expedite your check in at Galvanize; re...",1
2,185745656,228968660,Exercise your critical thinking with a data en...,0
3,185745656,228648803,"*Note, expedite your check in at Galvanize; re...",0
4,11885543,228648803,"*Note, expedite your check in at Galvanize; re...",0
5,55930862,228968660,Exercise your critical thinking with a data en...,0
6,55930862,228648803,"*Note, expedite your check in at Galvanize; re...",0
7,192607432,228968660,Exercise your critical thinking with a data en...,0
8,192607432,228648803,"*Note, expedite your check in at Galvanize; re...",0
9,183993413,228968660,Exercise your critical thinking with a data en...,0
10,183993413,228648803,"*Note, expedite your check in at Galvanize; re...",0
11,187965746,228968660,Exercise your critical thinking with a data en...,0
12,187965746,228648803,"*Note, expedite your check in at Galvanize; re...",0
13,148987252,228648803,"*Note, expedite your check in at Galvanize; re...",1
14,116324022,228648803,"*Note, expedite your check in at Galvanize; re...",0
15,149624662,228968660,Exercise your critical thinking with a data en...,1
16,149624662,228648803,"*Note, expedite your check in at Galvanize; re...",1
17,18222031,228968660,Exercise your critical thinking with a data en...,0
18,18222031,228648803,"*Note, expedite your check in at Galvanize; re...",0
19,85929712,228648803,"*Note, expedite your check in at Galvanize; re...",0
20,10134330,228968660,Exercise your critical thinking with a data en...,0
21,10134330,228648803,"*Note, expedite your check in at Galvanize; re...",1
22,5251626,228648803,"*Note, expedite your check in at Galvanize; re...",1
23,185934627,228968660,Exercise your critical thinking with a data en...,0
24,185934627,228648803,"*Note, expedite your check in at Galvanize; re...",1
25,192752466,228648803,"*Note, expedite your check in at Galvanize; re...",0
26,133272042,228968660,Exercise your critical thinking with a data en...,0
27,133272042,228648803,"*Note, expedite your check in at Galvanize; re...",0
28,193802502,228968660,Exercise your critical thinking with a data en...,0
29,193802502,228648803,"*Note, expedite your check in at Galvanize; re...",0
...,...,...,...,...
137,10048695,228648803,"*Note, expedite your check in at Galvanize; re...",1
138,3881071,228968660,Exercise your critical thinking with a data en...,0
139,3881071,228648803,"*Note, expedite your check in at Galvanize; re...",0
140,14704591,228968660,Exercise your critical thinking with a data en...,1
141,14704591,228648803,"*Note, expedite your check in at Galvanize; re...",0
142,105796662,228968660,Exercise your critical thinking with a data en...,0
143,105796662,228648803,"*Note, expedite your check in at Galvanize; re...",0
144,54092012,228968660,Exercise your critical thinking with a data en...,0
145,54092012,228648803,"*Note, expedite your check in at Galvanize; re...",0
146,80950832,228648803,"*Note, expedite your check in at Galvanize; re...",0
147,97988222,228968660,Exercise your critical thinking with a data en...,0
148,97988222,228648803,"*Note, expedite your check in at Galvanize; re...",0
149,97686732,228968660,Exercise your critical thinking with a data en...,0
150,97686732,228648803,"*Note, expedite your check in at Galvanize; re...",0
151,117627052,228968660,Exercise your critical thinking with a data en...,0
152,117627052,228648803,"*Note, expedite your check in at Galvanize; re...",1
153,621496,228968660,Exercise your critical thinking with a data en...,0
154,621496,228648803,"*Note, expedite your check in at Galvanize; re...",0
155,8575630,228968660,Exercise your critical thinking with a data en...,0
156,8575630,228648803,"*Note, expedite your check in at Galvanize; re...",0
157,106924652,228968660,Exercise your critical thinking with a data en...,0
158,106924652,228648803,"*Note, expedite your check in at Galvanize; re...",0
159,89525712,228968660,Exercise your critical thinking with a data en...,0
160,89525712,228648803,"*Note, expedite your check in at Galvanize; re...",0
161,187457713,228968660,Exercise your critical thinking with a data en...,0
162,187457713,228648803,"*Note, expedite your check in at Galvanize; re...",0
163,8155925,228968660,Exercise your critical thinking with a data en...,1
164,8155925,228648803,"*Note, expedite your check in at Galvanize; re...",1
165,150791852,228968660,Exercise your critical thinking with a data en...,0
166,150791852,228648803,"*Note, expedite your check in at Galvanize; re...",0

In [ ]:
# df_2['rsvp_2'] = ((df_2['rsvp'].notnull()) | (df_2['join_time'] < df_2['event_time'])).astype(int)
# df_2['rsvp_2'] = ((df_2['rsvp'].notnull()) | (df_2['join_time'] < event_time)).astype(int)
# df_2['rsvp_2'] = ((df_2.rsvp == 0) & (df_2.join_time < df_2.event_time)).astype(int)
# np.sort(df_members.member_id.astype(int))